node_modules
**/node_modules
**/dist
**/.turbo
**/.next
**/coverage
**/*.log
.git
.github
.gitignore
*.md
client/node_modules
.env
.env.*
!.env.example
.dev-auth/
docker-compose*.yml
.DS_Store
**/.DS_Store
